<link href="{{@BASE}}/ui/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="{{@BASE}}/ui/css/plugins/summernote/summernote.css" rel="stylesheet">
<link href="{{@BASE}}/ui/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">

<div class="row">
    <style type="text/css">
     .notchecked {
      background-color: #fdd4d4!important;
  }
</style>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Все домашние задания <small class="m-l-sm">Непроверенные выделены красным цветом, чтобы сохранить оценку и комментарий, нажмите "Сохранить".</small></h5>

        </div>
        <div class="ibox-content">

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTables-example" style="font-size:13px;">
                    <thead>
                        <tr>
                            <th>ФИО студента</th>
                            <th>Год обучения</th>
                            <th>Образовательная программа</th>
                            <th>Дисциплина</th>
                            <th>Ссылка на файл</th>
                            <th>Описание</th>
                            <th>Дата загрузки</th>

                            <th>Оценка</th>
                            <th>Комментарий</th>
                            <th>Проверено</th>
                        </tr>
                    </thead>
                    <tbody>
                     <repeat group="@homework" value="@v">

                        <tr {{@v[checked]==0 ? 'class="notchecked"' : ''}}>
                            <form data-id="{{@v[id]}}" id="teacher_form">
                                <td>{{@v[fullname]}}</td>
                                <td>{{@v[year]}}</td>
                                <td>{{@v[program]}}</td>

                                <td>{{@v[subject]}}</td>

                                <td><a href="{{@v[route]}}" target="_blank">{{@v[filename]}}</a></td>
                                <td>{{(@v[student_comment]) | raw}}</td>
                                <td>{{@v[uploadtime]}}</td>

                                

                                <td>



                                   <div class="input-group"><input  class="form-control" type="number" min="0" max="10" value="{{@v[mark]}}" name="mark" data-id="{{@v[id]}}" required> </div>

                               </td>


                               <td><textarea onkeyup="adjustHeight(this)" class="form-control" style="min-width: 200px; resize:vertical;" name="text"  data-id="{{@v[id]}}">{{@v[teacher_comment]}}</textarea>



                                 <td>
                                    <button type="button" class="ladda-button edit btn btn-warning" data-id="{{@v[id]}}" data-style="expand-right">Сохранить</button></td>



                                </form>  
                            </tr>	
                        </repeat>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ФИО студента</th>
                            <th>Год обучения</th>
                            <th>Образовательная программа</th>
                            <th>Дисциплина</th>
                            <th>Ссылка на файл</th>
                            <th>Описание</th>
                            <th>Дата загрузки</th>

                            <th>Оценка</th>
                            <th>Комментарий</th>
                            <th>Проверено</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>

</div>
<div class="modal inmodal in" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Комментарий</h4>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="saveComment">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>      
<script src="{{@BASE}}/ui/js/plugins/dataTables/datatables.min.js"></script>
<script src="{{@BASE}}/ui/js/plugins/ladda/spin.min.js"></script>
<script src="{{@BASE}}/ui/js/plugins/ladda/ladda.min.js"></script>
<script src="{{@BASE}}/ui/js/plugins/ladda/ladda.jquery.min.js"></script>
<!-- Page-Level Scripts -->
<script>
 function adjustHeight(el){
   el.style.height = (el.scrollHeight > el.clientHeight) ? (el.scrollHeight)+"px" : "60px";
}
$(document).ready(function(){

    $('form').keydown(function(event){
       if(event.keyCode == 13) {
         event.preventDefault();
         return false;
     }
 });

    $( '.edit' ).on("click", function(e){
       var l = $(this).ladda();

                  // Start loading
                  l.ladda( 'start' );
                  var id = $(this).attr('data-id');
                  var lesdata = new FormData($('form[data-id="'+id+'"]').get(0));
                  lesdata.append('id', id);
                  var that = this;

                  $.ajax({
                   url: '/checkedhomework?'+id,
                   type: 'POST',
                   data: lesdata,
                   success: function (response) {
                    
                    
                    l.ladda('stop'); 
                    toastr.success('Результат проверки успешно сохранен');
                    
                    $(that).html("Сохранено");
                    $(that).parent().parent().removeClass("notchecked")
                    $(that).removeClass("btn-warning");
                    $(that).addClass("btn-primary");
                    
                },
                cache: false,
                contentType: false,
                processData: false,
                error: function(response){


                    toastr.warning('Домашнее задание не проверено<br/>Обратитесь к администратору'); 

                }
            });

              });
});












$('.dataTables-example').DataTable({
 "order": [],
 dom: '<"html5buttons"B>lTfgitp',
 buttons: [
 { extend: 'copy'},
 {extend: 'excel', title: 'Домашние задания'},
 {extend: 'pdf', title: 'Домашние задания'}

 ],
 "autoWidth": false


});
</script>
